.menu, .menu-item, .button, .list-cell:filled, .afficherSourisClic {
    -fx-cursor: hand;   
}

.menu-bar {
	-fx-padding: 0;
}

.menu, .menu-item {
    -fx-padding: 8px 20px;
}

.label.legende {
    -fx-font-style: italic;
}

.label.titre {
    -fx-font-weight: bold;
    -fx-font-size: 24px;
}

.button {
    -fx-background-color: #036f00;
    -fx-padding: 8px 15px;
    -fx-border-radius: 5px;
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: #048b00;
    -fx-text-fill: black;
}

.list-view {
    -fx-background-color: transparent;
}

.list-cell {
    -fx-padding: 10px 20px;
    -fx-text-fill: black;
    -fx-border-width: 0;
}

.list-cell:even {
    -fx-background-color: #d1d1d1;
}

.list-cell:odd {
    -fx-background-color: #e9e9e9;
}

.list-cell:filled:hover {
    -fx-background-color: #048b00;
}

.list-cell:filled:selected {
    -fx-background-color: #036f00;
    -fx-text-fill: white;
}

.list-view .placeholder {
    -fx-background-color: #e9e9e9;
    -fx-padding: 10px 20px;
    -fx-text-fill: black;
}